body{
    background: lightgray;
}

.container{
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 1050px;
    margin: 20px auto;
}

.head{
    background: white;
    margin: 20px 80px;
    width: 1050px;
    margin: auto;
    height: 50px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: nowrap;
    height: 50px;
}

/* CSS Nav BAR */
.youtubelogo{
    display: flex;
    align-items: center; 
    padding-left: 30px;
}

#youtube-ico{
    width: 80px;
    padding-left: 20px;
}

#ui-button{
    width: 14px;
}


.searchbar{
    width: 679px;
    padding-left: 40px;
    display: flex;
    height: 21px;
 }

 .form{
    width: 679px;
    display: flex;
    align-items: center;
    height: 21px;
 }


.search-icon{
    width: 36px;
    height: 21px;
    border:0.5px solid lightgrey;
    padding: 4px 12px;
    box-sizing: border-box; 
    align-items: center;
    background: rgb(248, 248, 248);
    
}

#form-search{
    width: 650px;
    align-items: center;

}


.up-sign{
    width:150px;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   justify-content: space-around;
}



#up-button{
    width: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.sign-button{
    background: rgb(22, 122, 198);;
    width: 45px;
    height: 21px;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-button a{
    color: #fff;
    text-decoration: none;
}

/* CSS Nav BAR */


/* CSS main video*/

.subs-img{
    height: 30px;
    width: 100px;
}

#plus-icon{
    margin-left: 0;
}
.btn{
    height: 25px;
    width: 30px;
    margin-left: 10px;
    position: relative;
}
#share-btn{
    background-image: url('media/share-icon.png');
    background-size: 25px 30px;
    background-position: center;
}
#plus-btn{
    background-image: url('media/plus-icon.png');
    background-size: 25px 30px;
    background-position: center;
}
#dot-btn{
    background-image: url('media/dot-icon.png');
    background-size: 25px 30px;
    background-position: center;
}
#like-btn{
    background-image: url('media/like-icon.jpg');
    background-size: 25px 30px;
    background-position: center;
}
#dislike-btn{
    background-image: url('media/dislike-icon.png');
    background-size: 25px 30px;
    background-position: center;
}
.icon{
    height: 25px;
    width: 30px;
    margin-left: 10px;
}
.video-info{
    display: flex;
    align-items: center;
    border-bottom: 2px solid darkgray;
    padding-bottom: 5px;
}

.sub-info{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.subs-img, .subs, .channel-name{
    margin: 0;
    padding-left: 1rem;
}

.subs-count{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.viewers{
    margin-left: auto;
}

.subs{
    border: 1px solid darkgray;
    padding-top: 4px;
    padding-bottom: 4px;
}

.extra-icons{
    display: flex;
    align-items: center;
}

.likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

/* CSS main video*/

/* CSS aside bar*/
.thumbnail img{
    height: 90px;
    width: 160px;
}

.duration{
    margin-bottom: 0px;
    margin-top: -20px;
    background-color: darkgray;

}  
.thumbnail-container{
    display: flex;
    align-items: center;
}
.thumbnail-duration{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.thumbnail-info{
    display: flex;
    flex-direction: column;
}
.thumbnail-title, .thumbnail-channel, .thumbnail-views, a{
    margin: 2px;
    color:black;
    text-decoration: none;
}
aside{
    background-color: whitesmoke;
    margin-left: 20px;
    box-sizing: border-box;
}
/* CSS aside bar*/